/* Reset selector */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-size: 62.5%;
}

.estiloGral{
    width: 100vw;
    height: 100vh;
    background-color: gray;
}