@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;600;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none; }

body {
  font-family: 'Libre Franklin', sans-serif;
  background-image: linear-gradient(130deg, #fcfcfc 0%, #c3c3c3 100%);
  transition: .5s ease all; }
  body.modo_oscuro {
    background-image: linear-gradient(130deg, #444242 0%, #595959 100%);
    color: #cfcfcf; }

a {
  text-decoration: none;
  color: white; }

.a--roja {
  text-decoration: none;
  color: #8d0000; }

.subtitulo {
  margin-top: 2em;
  margin-bottom: 0.5em; }

.img {
  width: 20%;
  margin: 1em;
  display: inline-block; }
  .img:hover {
    width: 50%; }

header nav {
  color: white;
  padding: 0;
  margin: 0; }

header .navbar {
  background: linear-gradient(to right, #630000, #8d0000);
  text-transform: uppercase; }
  header .navbar .navbar-toggler {
    border: none !important; }
    header .navbar .navbar-toggler .icon-menu {
      height: 1.5em; }
  header .navbar .modo {
    display: inline-block;
    padding: 0;
    margin-left: 10px; }

header .dropdown-menu {
  background-color: #8d0000;
  --bs-dropdown-link-hover-bg: rgb(89, 1, 1);
  --bs-dropdown-link-active-bg: rgb(174, 0, 0); }

header .logo {
  position: fixed;
  top: 2px;
  left: 2px;
  width: 2.6em; }

header a {
  text-decoration: none;
  color: white; }

/* Parrafos, contenido y texto */
.contenido {
  text-align: center;
  margin: 2em 0; }
  .contenido h1 {
    text-decoration: underline;
    text-align: center;
    padding-top: 1.5em;
    font-weight: 600;
    font-size: 38px; }
    @media screen and (max-width: 768px) {
      .contenido h1 {
        font-size: 35px; } }
    @media screen and (max-width: 540px) {
      .contenido h1 {
        font-weight: 400;
        font-size: 30px; } }
  .contenido h2 {
    text-align: center;
    font-weight: 500;
    font-size: 32px; }
    @media screen and (max-width: 768px) {
      .contenido h2 {
        font-size: 28px; } }
    @media screen and (max-width: 540px) {
      .contenido h2 {
        font-size: 24px; } }
  .contenido h3 {
    text-align: center;
    font-weight: 400;
    font-size: 28px; }
    @media screen and (max-width: 768px) {
      .contenido h3 {
        font-size: 24px; } }
    @media screen and (max-width: 540px) {
      .contenido h3 {
        font-size: 20px; } }
  .contenido .parrafo {
    padding: 1em 4em;
    font-size: 24px; }
    @media screen and (max-width: 768px) {
      .contenido .parrafo {
        padding: 1em 3em;
        font-size: 20px; } }
    @media screen and (max-width: 540px) {
      .contenido .parrafo {
        padding: 1em 1.5em;
        font-size: 18px; } }
  .contenido .contenido--textoLargo {
    font-size: 18px;
    font-family: inherit serif;
    text-align: left;
    padding: 3em;
    text-indent: 3em; }
    .contenido .contenido--textoLargo .img1 {
      float: right;
      width: 25em;
      margin: 15px; }
      @media screen and (max-width: 768px) {
        .contenido .contenido--textoLargo .img1 {
          width: 20em;
          margin: 10px; } }
      @media screen and (max-width: 540px) {
        .contenido .contenido--textoLargo .img1 {
          float: none;
          width: 18em;
          margin: auto;
          display: block; } }
    .contenido .contenido--textoLargo .img2 {
      float: left;
      width: 25em;
      margin: 15px; }
      @media screen and (max-width: 768px) {
        .contenido .contenido--textoLargo .img2 {
          width: 20em;
          margin: 10px; } }
      @media screen and (max-width: 540px) {
        .contenido .contenido--textoLargo .img2 {
          float: none;
          width: 18em;
          margin: auto;
          display: block; } }

.parallax_banner {
  width: 100%;
  height: 400px;
  background: center fixed no-repeat url("../assets/dojopanoramica.webp");
  background-size: cover;
  margin: auto;
  margin-bottom: 2em; }
  @media screen and (max-width: 768px) {
    .parallax_banner {
      height: 350px; } }
  @media screen and (max-width: 540px) {
    .parallax_banner {
      height: 300px; } }
  .parallax_banner .h2--blanco {
    text-align: center;
    padding: 40px 20px;
    margin: auto;
    color: #fff;
    text-transform: uppercase;
    font-weight: bolder;
    -webkit-text-stroke: .1vw black;
    letter-spacing: .2vw;
    font-size: 34px; }
    @media screen and (max-width: 768px) {
      .parallax_banner .h2--blanco {
        font-size: 30px; } }
    @media screen and (max-width: 540px) {
      .parallax_banner .h2--blanco {
        font-size: 26px; } }

.parallax_banner--kanji {
  width: 100%;
  height: 300px;
  background: center fixed no-repeat url("../assets/kanji.webp");
  background-size: cover;
  margin: auto;
  margin-bottom: 0.5em; }
  @media screen and (max-width: 768px) {
    .parallax_banner--kanji {
      display: none; } }
  @media screen and (max-width: 540px) {
    .parallax_banner--kanji {
      display: none; } }

.parallax_banner--dojo {
  width: 100%;
  height: 400px;
  background: center fixed no-repeat url("../assets/frenteDojo.webp");
  background-size: cover;
  margin: auto;
  margin-bottom: 0.5em; }
  @media screen and (max-width: 768px) {
    .parallax_banner--dojo {
      height: 350px; } }
  @media screen and (max-width: 540px) {
    .parallax_banner--dojo {
      display: none; } }

.carousel-indicators-icons {
  background-color: gray !important; }

.carousel-control-prev {
  background-image: linear-gradient(to left, white, #902c2c);
  width: 4em; }

.carousel-control-next {
  background-image: linear-gradient(to right, white, #902c2c);
  width: 4em; }

@media screen and (max-width: 540px) {
  .carousel {
    display: none; } }

.articulosVarios {
  width: 100%;
  margin: 30px auto;
  padding: 3em 1.5em;
  background-color: #c4c4c4; }
  .articulosVarios .cards-title {
    display: flex;
    justify-content: center; }
  .articulosVarios .container__cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .articulosVarios .container__cards .card {
      width: 250px;
      height: 350px;
      border-radius: 20px;
      background: #929292;
      position: relative;
      padding: 1em;
      border: 2px solid #c3c6ce;
      transition: 0.5s ease-out;
      overflow: visible;
      margin: 30px; }
      .articulosVarios .container__cards .card .card-details {
        color: black;
        height: 100%;
        gap: .5em;
        display: grid;
        place-content: center; }
        .articulosVarios .container__cards .card .card-details .text-title {
          text-transform: uppercase;
          text-align: center;
          text-decoration: underline;
          font-weight: 500;
          font-size: 30px; }
          @media screen and (max-width: 768px) {
            .articulosVarios .container__cards .card .card-details .text-title {
              font-size: 28px; } }
          @media screen and (max-width: 540px) {
            .articulosVarios .container__cards .card .card-details .text-title {
              font-size: 24px; } }
        .articulosVarios .container__cards .card .card-details .text-body {
          color: #868686;
          text-align: center;
          font-size: 22px; }
          @media screen and (max-width: 768px) {
            .articulosVarios .container__cards .card .card-details .text-body {
              font-size: 18px; } }
          @media screen and (max-width: 540px) {
            .articulosVarios .container__cards .card .card-details .text-body {
              font-size: 14px; } }
      .articulosVarios .container__cards .card .card-button {
        transform: translate(-50%, 125%);
        width: 60%;
        border-radius: 1rem;
        border: none;
        background-color: #8d0000;
        color: white;
        font-size: 1rem;
        padding: .5rem 1rem;
        position: absolute;
        left: 50%;
        bottom: 0;
        opacity: 0;
        transition: 0.3s ease-out; }
      @media screen and (max-width: 540px) {
        .articulosVarios .container__cards .card {
          width: 200px;
          height: 280px; } }
    .articulosVarios .container__cards .card:hover {
      border-color: #8d0000;
      box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25); }
    .articulosVarios .container__cards .card:hover .card-button {
      transform: translate(-50%, 50%);
      opacity: 1; }
    @media screen and (max-width: 768px) {
      .articulosVarios .container__cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; } }

.modo_oscuro {
  background-color: #414141;
  color: #cfcfcf; }

.btn__wapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1; }

.btn--up {
  display: flex;
  justify-content: center;
  margin: 20px; }

.footer {
  margin: auto;
  padding-top: 1em;
  padding-bottom: 1em;
  color: #8d0000;
  background-color: #929292;
  text-align: center; }
  .footer .logoFooter {
    width: 5em; }
  .footer .logoRedes {
    width: 2em;
    margin: 0.5em; }

.contenido {
  width: 100%; }
  .contenido .contenedor__grid {
    display: grid;
    padding: 1.5em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "caja-1 caja-2" "caja-1 caja-3";
    grid-row-gap: 10px;
    grid-column-gap: 10px; }
    .contenido .contenedor__grid .caja-1 {
      grid-area: caja-1; }
      .contenido .contenedor__grid .caja-1 .form {
        background-color: #dfdfdf;
        width: 100%;
        max-width: 600px;
        margin: auto;
        border-radius: .5em;
        padding: 3.5em 1.5em;
        margin-bottom: 2em; }
        .contenido .contenedor__grid .caja-1 .form .form__container {
          width: 100%;
          display: grid;
          gap: 1em;
          grid-auto-columns: 100%; }
          .contenido .contenedor__grid .caja-1 .form .form__container .form__title {
            text-align: center;
            text-decoration: underline;
            margin-bottom: 1em;
            font-weight: 400;
            font-size: 30px; }
            @media screen and (max-width: 768px) {
              .contenido .contenedor__grid .caja-1 .form .form__container .form__title {
                font-size: 28px; } }
            @media screen and (max-width: 540px) {
              .contenido .contenedor__grid .caja-1 .form .form__container .form__title {
                font-size: 24px; } }
          .contenido .contenedor__grid .caja-1 .form .form__container .form__input {
            font-family: inherit;
            font-size: 1rem;
            padding: .8em 1em;
            outline: none;
            border: none;
            border: 1px solid #dfdfdf;
            border-radius: .2em; }
          .contenido .contenedor__grid .caja-1 .form .form__container .form__input--message {
            resize: none;
            padding-bottom: 10em;
            margin-bottom: .5em; }
          .contenido .contenedor__grid .caja-1 .form .form__container .form__cta {
            font-family: inherit;
            font-size: 1rem;
            background-color: #dc3545;
            color: #fff;
            border: none;
            font-weight: 300;
            padding: .7em 0;
            border-radius: .2em;
            cursor: pointer; }
    .contenido .contenedor__grid .caja-2 {
      grid-area: caja-2;
      display: inline-flex;
      border: groove; }
    .contenido .contenedor__grid .caja-3 {
      grid-area: caja-3;
      text-align: center;
      padding: 1em; }
    @media screen and (max-width: 768px) {
      .contenido .contenedor__grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "caja-1" "caja-2" "caja-3"; }
        .contenido .contenedor__grid .caja-2 {
          height: 400px; } }

.gallery__conteiner {
  width: 100%;
  height: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-auto-rows: 300px;
  gap: 15px;
  padding: 15px;
  grid-auto-flow: dense; }
  .gallery__conteiner .grid__item {
    display: flex;
    flex-direction: grid-auto-rows;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: flip-in-ver-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
    .gallery__conteiner .grid__item:nth-child(1) {
      grid-column-start: span 2; }
    .gallery__conteiner .grid__item:nth-child(6) {
      grid-row-start: span 2; }
    .gallery__conteiner .grid__item:nth-child(9) {
      grid-column-start: span 2; }
    .gallery__conteiner .grid__item:nth-child(11) {
      grid-row-start: span 2; }
    .gallery__conteiner .grid__item:nth-child(15) {
      grid-column-start: span 2; }
    .gallery__conteiner .grid__item:nth-child(20) {
      grid-row-start: span 2; }
    .gallery__conteiner .grid__item:nth-child(24) {
      grid-column-start: span 2; }
    .gallery__conteiner .grid__item img {
      object-fit: cover; }
  .gallery__conteiner .grid__item1 {
    animation-delay: 0.3s; }
  .gallery__conteiner .grid__item2 {
    animation-delay: 0.6s; }
  .gallery__conteiner .grid__item3 {
    animation-delay: 0.9s; }
  .gallery__conteiner .grid__item4 {
    animation-delay: 1.2s; }
  .gallery__conteiner .grid__item5 {
    animation-delay: 1.5s; }
  .gallery__conteiner .grid__item6 {
    animation-delay: 1.8s; }
  .gallery__conteiner .grid__item7 {
    animation-delay: 2.1s; }
  .gallery__conteiner .grid__item8 {
    animation-delay: 2.4s; }
  .gallery__conteiner .grid__item9 {
    animation-delay: 2.7s; }
  .gallery__conteiner .grid__item10 {
    animation-delay: 3s; }
  .gallery__conteiner .grid__item11 {
    animation-delay: 3.3s; }
  .gallery__conteiner .grid__item12 {
    animation-delay: 3.6s; }
  .gallery__conteiner .grid__item13 {
    animation-delay: 3.9s; }
  .gallery__conteiner .grid__item14 {
    animation-delay: 4.2s; }
  .gallery__conteiner .grid__item15 {
    animation-delay: 4.5s; }
  .gallery__conteiner .grid__item16 {
    animation-delay: 4.8s; }
  .gallery__conteiner .grid__item17 {
    animation-delay: 5.1s; }
  .gallery__conteiner .grid__item18 {
    animation-delay: 5.4s; }
  .gallery__conteiner .grid__item19 {
    animation-delay: 5.7s; }
  .gallery__conteiner .grid__item20 {
    animation-delay: 6s; }
  .gallery__conteiner .grid__item21 {
    animation-delay: 6.3s; }
  .gallery__conteiner .grid__item22 {
    animation-delay: 6.6s; }
  .gallery__conteiner .grid__item23 {
    animation-delay: 6.9s; }
  .gallery__conteiner .grid__item24 {
    animation-delay: 7.2s; }

.accordion {
  --bs-accordion-bg: $backgroundGradient;
  --bs-accordion-btn-focus-box-shadow:  0 0 0 0.25rem rgba(65, 41, 41, 0.25);
  --bs-accordion-active-color: #ffffff;
  --bs-accordion-active-bg: gray; }

.accordion-button:not(.collapsed) {
  color: white;
  background-color: gray; }

.calendario {
  background-color: gray;
  text-align: center;
  color: white;
  margin-top: 2em; }
  .calendario .dias {
    font-weight: bold;
    background-color: #2e2e2e;
    height: 4em; }
  .calendario .col-2 {
    padding: 20px; }
    .calendario .col-2 p {
      color: #a4a4a4;
      font-style: italic;
      font-size: 0.9rem;
      margin-top: 0.7em;
      margin-bottom: 0; }
  .calendario .aiki {
    background-color: #8b2222; }
    .calendario .aiki:hover {
      background-color: #630e0e; }
  .calendario .aikiKids {
    background-color: #bf4040; }
    .calendario .aikiKids:hover {
      background-color: #681c1c; }
  .calendario .ninja {
    background-color: #20233a; }
    .calendario .ninja:hover {
      background-color: #171a2b; }
  .calendario .tae {
    background-color: #2f423c; }
    .calendario .tae:hover {
      background-color: #1c2724; }
  .calendario .colSeparadora {
    height: 3em; }

@media screen and (min-width: 541px) {
  .horariosMobile {
    display: none; } }

@media screen and (max-width: 768px) {
  .calendario h5 {
    font-size: 1rem; }
  .calendario h6 {
    font-size: 0.75rem; }
  .calendario p {
    font-size: 0.5rem; } }

@media screen and (max-width: 540px) {
  .calendario {
    display: none; }
  .horariosMobile {
    display: inline-block; }
    .horariosMobile h4 {
      color: white;
      font-weight: 600;
      padding: 5px; }
    .horariosMobile .aiki {
      background-color: #934747; }
    .horariosMobile .ninja {
      background-color: #373b58; }
    .horariosMobile .tae {
      background-color: #3e4f49; } }

.tracking-in-expand-fwd-top {
  animation: tracking-in-expand-fwd-top 2s cubic-bezier(0.215, 0.61, 0.355, 1) both; }

@keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-500px) translateY(-100px);
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1; } }

.fade-in {
  animation: fade-in 1.5s cubic-bezier(0.39, 0.575, 0.565, 1) 1s both; }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.flip-in-ver-right {
  animation: flip-in-ver-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@keyframes flip-in-ver-right {
  0% {
    transform: rotateY(-80deg);
    opacity: 0; }
  100% {
    transform: rotateY(0);
    opacity: 1; } }
