.footer{
  margin: auto;
  padding-top: 1em;
  padding-bottom: 2em;
  color: darkred;
  background-color:rgb(146, 146, 146);
  text-align: center;

  .logoFooter{
    width: 6em;
  }
  
  .logoRedes{
    width: 2.5em;
    margin-top: 0.3em;
    margin-bottom: 1em;
  }
}

