//Galería
.gallery__conteiner{
  width: 100%;
  height: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-auto-rows: 300px;
  gap: 15px;
  padding: 15px;
  grid-auto-flow: dense;

  .grid__item{
    @include flex(grid-auto-rows, center, center);
    transition: transform 0.3s ease-in-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    animation: flip-in-ver-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    
    &:nth-child(1){
      grid-column-start: span 2;
    }
    &:nth-child(6){
      grid-row-start: span 2;
    }
    &:nth-child(9){
      grid-column-start: span 2;
    }
    &:nth-child(11){
      grid-row-start: span 2;
    }
    &:nth-child(15){
      grid-column-start: span 2;
    }
    &:nth-child(20){
      grid-row-start: span 2;
    }
    &:nth-child(24){
      grid-column-start: span 2;
    }

    img{
      object-fit: cover;
    }
  }

  
  @for $item from 1 through 24 {

    .grid__item#{$item} {
      animation-delay: $item*0.3s;
    }
    
  }

}

