// Reset selector

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

//Estilo general

body{
  font-family: 'Libre Franklin', sans-serif;
  background-image: $backgroundGradient;
  transition: .5s ease all;

  &.modo_oscuro{
    background-image: $backgroundGradientDark;
    color: #cfcfcf;
  }
    
}

//Modo claro / Modo oscuro


a{
  text-decoration: none;
  color: $colorEnlaces;
}

.a--roja{
  text-decoration: none;
  color: $colorGeneral;
}


// Estilo general de imágenes
.subtitulo{
  margin-top: 2em;
  margin-bottom: 0.5em;
}

.img{
  width: 20%;
  margin: 1em;
  display: inline-block;

  &:hover{
    width: 50%;
  }
  }
