header{
  margin-bottom: 5em;

  nav{
    padding: 0;
    margin: 0;
  }

  .navbar{
    background: $gradienteBarra;
    text-transform: uppercase;
    height: 4em;
  }

  .dropdown-menu{
    background-color: $colorGeneral;
  }

  .logo{
    position: fixed;
    top: 2px;
    left: 2px;
    width: 3em;
  }

  a{
    text-decoration: none;
    color: #ffffff;
  }
}




