/* Parrafos, contenido y texto */

.contenido{
  text-align: center;
  margin: 2em 0;

  h1{
    text-decoration: underline ;
    text-align: center;
    padding-top: 1.5em;
    font-weight: 600;
    font-size: 38px;

    @include quiebre (tablet){
      font-size: 35px;
    }
    
    @include quiebre (mobile){
      font-weight: 400;
      font-size: 30px;
    }
  }

  h2{
    text-align: center;
    font-weight: 500;
    font-size: 32px;

    @include quiebre (tablet){
      font-size: 28px;
    }
    
    @include quiebre (mobile){
      font-size: 24px;
    }
  }

  h3{
    text-align: center;
    font-weight: 400;
    font-size: 28px;

    @include quiebre (tablet){
      font-size: 24px;
    }
    
    @include quiebre (mobile){
      font-size: 20px;
    }
  }

  .parrafo{
    padding: 1em 4em;
    font-size: 24px;

    @include quiebre (tablet){
      padding: 1em 3em;
      font-size: 20px;
    }
    
    @include quiebre (mobile){
      padding: 1em 1.5em;
      font-size: 18px;
    }
  }

  .contenido--textoLargo{
    font-size: 18px;
    font-family: inherit serif;
    text-align: left;
    padding: 3em;
    text-indent: 3em;

    .img1{
      float: right;
      width: 25em;
      margin: 15px;

      @include quiebre (tablet){
        width: 20em;
        margin: 10px;
      }

      @include quiebre (mobile){
        float: none;
        width: 18em;
        margin: auto;
        display: block;
      }
    }

    .img2{
      float: left;
      width: 25em;
      margin: 15px;

      @include quiebre (tablet){
        width: 20em;
        margin: 10px;
      }

      @include quiebre (mobile){
        float: none;
        width: 18em;
        margin: auto;
        display: block;
      }
    }
  }

}


// Parallax Banner 
.parallax_banner{
  width: 100%;
  height: 400px;
  background: center fixed no-repeat url("../assets/dojopanoramica.webp") ;
  background-size: cover;
  margin: auto;
  margin-bottom: 2em;

  @include quiebre (tablet){
    height: 350px;
  }
  
  @include quiebre (mobile){
    height: 300px;
  }
  
  .h2--blanco{
    text-align: center;
    padding: 40px 20px;
    margin: auto;
    color: #fff;
    text-transform: uppercase;
    font-weight: bolder;
    -webkit-text-stroke: .1vw black;
    letter-spacing: .2vw;
    font-size: 34px;

    @include quiebre (tablet){
      font-size: 30px;
    }
    
    @include quiebre (mobile){
      font-size: 26px;
    }

  }
}

.parallax_banner--kanji{
  width: 100%;
  height: 300px;
  background: center fixed no-repeat url("../assets/kanji.webp") ;
  background-size: cover;
  margin: auto;
  margin-bottom: 0.5em;

  @include quiebre (tablet){
    display: none;
  }
  
  @include quiebre (mobile){
    display: none;
  }
}

.parallax_banner--dojo{
  width: 100%;
  height: 400px;
  background: center fixed no-repeat url("../assets/frenteDojo.webp") ;
  background-size: cover;
  margin: auto;
  margin-bottom: 0.5em;

  @include quiebre (tablet){
    height: 350px;
  }
  
  @include quiebre (mobile){
    display: none;
  }
}

// Carrusel
.carousel-indicators-icons{
  background-color: gray !important;
}

.carousel-control-prev{
  background-image: linear-gradient(to left, rgb(255, 255, 255), rgb(144, 44, 44));
  width: 4em;
}

.carousel-control-next{
  background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(144, 44, 44));
  width: 4em;
}

.carousel{
  @include quiebre (mobile){
    display: none;
  }
}

// Articulos Varios
.articulosVarios{
  width: 100%;
  margin: 30px auto;
  padding: 3em 1.5em;
  background-color: rgb(196, 196, 196);

    .cards-title{
      display: flex;
      justify-content: center;
    }
    
    .container__cards{
      @include flex (row, center, center);

      .card {
        width: 250px;
        height: 350px;
        border-radius: 20px;
        background: #929292;
        position: relative;
        padding: 1em;
        border: 2px solid #c3c6ce;
        transition: 0.5s ease-out;
        overflow: visible;
        margin: 30px;

          .card-details {
            color: black;
            height: 100%;
            gap: .5em;
            display: grid;
            place-content: center;

            .text-title {
              text-transform: uppercase;
              text-align: center;
              text-decoration: underline;
              font-weight: 500;
              font-size: 30px;
          
              @include quiebre (tablet){
                font-size: 28px;
              }
              
              @include quiebre (mobile){
                font-size: 24px;
              }
            }
            
            .text-body {
              color: rgb(134, 134, 134);
              text-align: center;
              font-size: 22px;
          
              @include quiebre (tablet){
                font-size: 18px;
              }
              
              @include quiebre (mobile){
                font-size: 14px;
              }
            }
          } 
          
          .card-button {
            transform: translate(-50%, 125%);
            width: 60%;
            border-radius: 1rem;
            border: none;
            background-color: $colorGeneral;
            color: $colorEnlaces;
            font-size: 1rem;
            padding: .5rem 1rem;
            position: absolute;
            left: 50%;
            bottom: 0;
            opacity: 0;
            transition: 0.3s ease-out;
          }

      @include quiebre(mobile){
        width: 200px;
        height: 280px;
      }
      }
    
      .card:hover {
        border-color: $colorGeneral;
        box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
      }
      
      .card:hover .card-button {
        transform: translate(-50%, 50%);
        opacity: 1;
      }
      
      @include quiebre (tablet){
        @include flex (column, center, center)
        }
      }

      

  }

.modo_oscuro{
        background-color: #414141;
        color: #cfcfcf; 
      }

// Botón de WhatsApp
.btn__wapp{
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
} 


// Botón para subir 
.btn--up{
  display: flex;
  justify-content: center;
  margin: 20px;
}

