// Variables 

//COLORES

$colorGeneral: rgb(141, 0, 0);
$colorEnlaces: white;
$backgroundGradient: linear-gradient(120deg, #e3e3e3 0%, #9a9a9a 100%);
$gradienteBarra: linear-gradient(to right, rgb(99, 0, 0), rgb(141, 0, 0));

