// Variables 

//COLORES

$colorGeneral: rgb(141, 0, 0);
$colorEnlaces: white;
$backgroundGradient: linear-gradient(130deg, #fcfcfc 0%, #c3c3c3 100%);
$backgroundGradientDark: linear-gradient(130deg, #444242 0%, #595959 100%);
$gradienteBarra: linear-gradient(to right, rgb(99, 0, 0), rgb(141, 0, 0));


// MAPA de Puntos de Quiebre

$breakpoints:(
  mobile: 540px,
  tablet: 768px,
  desktop: 1024px
);